# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Runtime
param.log

# MadGraph local cards
local_cards/

# Ignore only heavy checkpoints
results/checkpoints/
*.pt
*.pth

# Model checkpoints elsewhere
nfmodel/models/

# Binary
*.so
*.dylib
*.o
*.a

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/